/*box sizing rules*/


body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd{
  margin: 0;
  padding: 0;
}/*remove list styles on ul,ol elements with a list role,which*/
ul[role="list"],
ol[role="list"]{
  list-style: none;
}

img{
  height: auto;
  width: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

.about-last-element{
  padding: 50px;
  place-items: center;
  background-color: #393e46;
}

body {
  margin: 0;
  padding: 0;
}

.herbet-simon {
  position: relative;
}

.background-subscrite-div{
  background-image: url(Images/subscrite.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
}

.button-subscribe{
  height: 35px;
  width: 100px;
  background-color: #2C2E3E;
  color: #fff;
  font-family: "Oswald", sans-serif;
}

.blur-orange-herbet-simon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  background: rgba(196, 79, 0, 0.56);
}

.button-pricing {
  display: flex;
  justify-content: center;
}

.btn-submit{
  width: 200px;
  text-align: center;
  background-color: chocolate;
  padding: 5px 7px;
  color: white;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  padding: 10px;
  border: none;
}

.display-statistic{
  display: flex;
  justify-content: space-evenly;
  padding-top: 90px;
}

.cosial-media-icons{
  width: 35px;
}

.container {
  background-color: #606470;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.container-limit {
  margin: 0 auto;
}

.column1{
border: 2px solid black;
display:flex;
justify-content: center;
align-items: center;
}

.column2{
 border: 2px solid black;
 background-color: #F96D00;
 padding-top: 300px;
 margin: 0;
}

.column3{
  border: 2px solid black;
  background-color: #F96D00;
  padding-top: 300px;
  }
  
  .column4{
   border: 2px solid black;
   display:flex;
   justify-content: center;
   align-items: center;
  }

.column-title{
    font-size: 69px;
    color: white;
    font-family: "Oswald", sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

.column-title-second{
  font-size: 69px;
  color: white;
  font-family: "Oswald", sans-serif;
  text-align: left;
  margin: 0;
  padding-left: 150px;
}

.column-paragraf{
    font-size: 19px;
    color: white;
    font-family: "Quicksand", sans-serif;
    text-align: left;
     padding-left: 149px;
     padding-right: 100px;
}


.information-first{
  display: grid;
  grid-template-areas:
    "first second"
    "third fourth";
}

.items-white {
  margin: 0;
  align-items: center;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.items {
  color: white;
  font-size: 20px;
}

.icons {
  display: grid;
  grid-template-areas: " zero first second thrity ";
  align-items: center;
}

.icons1 {
  margin: 15px;
  width: 300px;
  height: 400px;
  background-color: #393e46;
}

.icons2 {
  margin: 15px;
  width: 300px;
  height: 400px;
  background-color: #393e46;
}

.icons3 {
  margin: 15px;
  width: 300px;
  height: 400px;
  background-color: #393e46;
}

.images-column{
  margin: 0;
  padding: 0;
}

.images-items-white{
  width: 80px;
}

.paragraf-1{
color: #ffffff;
font-family: "Oswald", sans-serif;
text-align: center;
}

.paragraf-2{
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-align: center;
}

.paragraf-white {
  margin: 0;
  padding: 6px;
  width: 650px;
  font-size: 26px;
  color: white;
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

.paragraf-submite {
  color: white;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  padding: 10px;
  margin: 0;
  padding: 0;
}

.pricing {
  background-color: #3a3535;
}

.pricing__row {
  display: grid;
  grid-template-areas: "prace1 prace2 prace3";
  place-items: center;
  padding: 100px 20px;
  gap: 15px;
}

.prace-images{
padding: 15px;
  display: flex;
  justify-content: center;
}

.prace-title{
  text-align: center;
  place-items: center;
  font-size: 35px;
  padding: 10px;
}

.prace-paragraf{
  text-align: center;
  place-items: center;
  font-size: 20px;
  padding: 5px;
}


.paragraf-statistic{
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  margin: 0px 130px 0px 130px;
}

.prace-button{
  height: 30px;
  width: 200px;
  place-items: center;
 background-color: #393e46;
 color: white;
 margin: 5px;
 font-size: 20px;
}

.paragraf-subscrite-element{
  text-align: center;
  place-items: center;
  color: #fff;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
}

.content-prace{
  /*height: 400px;*/
  width:300px;
  background-color: #FF7315;
  border-radius: 10px;
}

.Statistic{
  background-color: #393e46;
  padding: 60px;
}

.School-title {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  color: white;
 margin: 0;
 padding: 0;
}

.main-images {
  background-image: url(Images/images1.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  padding: 40px;
  height: 80vh;
}

.submit {
  margin-top: 50px;
}

.submit-gray-column{
    height: 30px;
  width: 200px;
  background-color: #2C2E3E;
  margin-left: 150px;
}

.submit-gray-column-paragraf{
  text-align: center;
  color: white;
  padding: 5px;
}

section {
  margin: 0;
  padding: 0;
}

.list-about{
margin: 0;
padding: 10px 0px 10px 0px;
}

li{
  margin: 0;
padding: 5px 0px 5px 0px;
list-style-type: none;
}

.input-email-subscribe{
  background-color: white;
  border: 2px solid #000;
  width:300px;
  height: 30px;
}

.input-subscribe-element-div{
  place-items: center;
  display: flex;
  justify-content: center;
  margin: 25px;
}

.images-herbet-simon{
  background-image: url(Images/images14.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
}

.herbet-simon-paragraf{
  text-align: center;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
}

.herbet-simon-title{
  text-align: center;
  font-size: 35px;
  font-family: "Oswald", sans-serif;
}

.text-herbet-simon{
  place-items: center;
 padding: 250px 50px 0px 50px;
}


.Title-statistic{
  font-size: 60px;
  text-align: center;
  place-items:center;
  color: #ffffff;
  padding: 10px;
  font-family: "Oswald", sans-serif;
}

.title-subscrite-element{
  text-align: center;
  place-items: CENTER;
  color: #fff;
  font-family: "Oswald", sans-serif;
  padding-top: 100px;
  font-size: 69px;
}

.title-about-element-display{
  display: grid;
 grid-template-columns: 700px 250px 250px 250px;
  align-items: center;
  place-items: center;
  
}

.title-about-element{
  color: #fff;
  margin: 10px;
}

.texts {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  color: white;
}

.tour {
  background-color: #f96d00;
  margin: 0;
  padding-top: 65px;
}

.tour-paragraf {
  text-align: center;
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 100px;
padding-bottom: 40px;
  font-size: 26px;
  color: white;
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

.tour-title {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  color: white;
  margin: 0;
  padding: 0;
}

@media (max-width: 440px) {

  .about-last-element{
      padding: 0;
      margin: 0;
  }
  .icons {
    grid-template-areas:
      "first"
      "second"
      "thrity";
    padding: 50px 0;
  }

  .items{
    font-size: 9px;

  }

.images-items-white {
height: 40px;
}

.images-column{
  height: 400px;
  background-position: center;
}

  .information-first {
    grid-template-areas:
      "first"
      "second"
      "third"
      "fourth";
  }
  .tour-paragraf  {
    padding: 20px;
  }

  .paragraf-white{
    font-size: 20px;
    width: auto;
  }

  .icons1,
  .icons2,
  .icons3 {
    margin: 0 auto;
   
  }

.images-items-white{
  width: 50px;
}

  .pricing__row {
    grid-template-areas: "prace1" "prace2" "prace3";
    padding: 50px 0;
  }

  .prace1,
  .prace2,
  .prace3 {
    margin: 0 auto;
    padding: 20px;
  }

  .column2,
  .column3 {
    padding: 5px;
  }

.column1,
.column4 {
  height: 100%;
  }

  .column-paragraf {
    padding:10px;
    width: 0;
    width: 400px;
    text-align: center;
  }

  .column-title,
  .column-title-second {
    font-size: 40px;
   text-align: center;
   margin: 0;
   padding: 0;
  }

  .submit-gray-column{
    margin: 0;
    padding: 0;
  }

  .paragraf-statistic{
    width: 300px;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .paragraf-subscrite-element{
    font-size:20px;
  }

  .title-subscrite-element{
    font-size: 59px;
  }


  .Title-statistic{
    font-size: 40px;
    margin: 0;
    padding: 0;
  }

.statistic{
  padding: 10px;
  margin: 0;

}

  .display-statistic{
    margin: 0;
    padding: 0;
  }

  .list-about{
    font-size: 15px;
  }

  .display-about{
  margin: 0;
  }

.title-about-element{
  font-size: 15px;
}

  .title-about-element-display{
    display: grid;
   grid-template-columns:1fr 1fr 1fr 1fr;
    align-items: center;
    place-items: center;
    
  }
}

@media (max-width:767px) {
   
  .about-last-element{
    padding: 0;
    margin: 0;
}
.icons {
  grid-template-areas:
    "first"
    "second"
    "thrity";
  padding: 50px 0;
}

.items{
  font-size: 15px;

}

.images-items-white {
height: 50px;
}

.images-column{
height: 600px;
background-position: center;
}

.information-first {
  grid-template-areas:
    "first"
    "second"
    "third"
    "fourth";
}
.tour-paragraf  {
  padding: 20px;
}

.paragraf-white{
  font-size: 20px;
  width: auto;
}

.icons1,
.icons2,
.icons3 {
  margin: 0 auto;
 
}

.images-items-white{
width: 50px;
}

.pricing__row {
  grid-template-areas: "prace1" "prace2" "prace3";
  padding: 50px 0;
}

.prace1,
.prace2,
.prace3 {
  margin: 0 auto;
  padding: 20px;
}

.column2,
.column3 {
  padding: 5px;
}

.column1,
.column4 {
height: 100%;
}

.column-paragraf {
  padding:20px;
  text-align: center;
}

.column-title,
.column-title-second {
  font-size: 40px;
 text-align: center;
 margin: 0;
 padding: 0;
}

.submit-gray-column{
  margin: 0;
  padding: 0;
 display: flex;
 justify-content: center;
}

.paragraf-statistic{

  margin: 0;
  padding: 0;
  text-align: center;
}

.paragraf-subscrite-element{
  font-size:20px;
}

.title-subscrite-element{
  font-size: 59px;
}


.Title-statistic{
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.statistic{
padding: 10px;
margin: 0;

}

.display-statistic{
  margin: 0;
  padding: 0;
}

.list-about{
  font-size: 15px;
}

.display-about{
margin: 0;
}

.title-about-element{
font-size: 15px;
}

.title-about-element-display{
  display: grid;
 grid-template-columns:1fr 1fr 1fr 1fr;
  align-items: center;
  place-items: center;
  
}
}
  

@media (min-width:770px) and (max-width:1440px){
  .about-last-element{
    padding: 0;
    margin: 0;
}
.icons {
  grid-template-areas:
    "first"
    "second"
    "thrity";
  padding: 50px 0;
}

.items{
  font-size: 15px;

}

.images-items-white {
height: 50px;
}

.images-column{
height: 600px;
background-position: center;
}


.tour-paragraf  {
  padding: 20px;
}

.paragraf-white{
  font-size: 20px;
  width: auto;
}

.icons1,
.icons2,
.icons3 {
  margin: 0 auto;
 
}

.images-items-white{
width: 50px;
}

.pricing__row {
  grid-template-areas: "prace1" "prace2" "prace3";
  padding: 50px 0;
}

.prace1,
.prace2,
.prace3 {
  margin: 0 auto;
  padding: 20px;
}

.column2,
.column3 {
  padding: 5px;
}

.column1,
.column4 {
height: 100%;
}

.column-paragraf {
  padding:20px;
  text-align: center;
}

.column-title,
.column-title-second {
  font-size: 40px;
 text-align: center;
 margin: 0;
 padding: 0;
}

.submit-gray-column{
  margin: 0;
  padding: 0;
 display: flex;
 justify-content: center;
}

.paragraf-statistic{

  margin: 0;
  padding: 0;
  text-align: center;
}

.paragraf-subscrite-element{
  font-size:20px;
}

.title-subscrite-element{
  font-size: 59px;
}


.Title-statistic{
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.statistic{
padding: 10px;
margin: 0;

}

.display-statistic{
  margin: 0;
  padding: 0;
}

.list-about{
  font-size: 15px;
}

.display-about{
margin: 0;
}

.title-about-element{
font-size: 15px;
}

.title-about-element-display{
  display: grid;
 grid-template-columns:1fr 1fr 1fr 1fr;
  align-items: center;
  place-items: center;
  
}
}